---
layout: base
---
#content
  - for post in page.posts
    %article
      %header.page-header
        %h1.title
          %a{:href=>post.qurl, :title=>'Click to go to post', :rel=>'tooltip'}= post.title
        .meta
          %time= post.date.strftime("%B %e, %Y")
      .content
        ~ post.content
  .pagination
    %ul
      %li
        - if page.posts.previous_page
          %a{:href=>page.posts.previous_page.qurl}
            %span.icon-step-backward
      %li
        - if page.posts.next_page
          %a{:href=>page.posts.next_page.qurl}
            %span.icon-step-forward
