$bootstrapUrl: "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1";
$iconSpritePath: url("#{$bootstrapUrl}/img/glyphicons-halflings.png");
$iconWhiteSpritePath: url("#{$bootstrapUrl}/img/glyphicons-halflings-white.png");

$navbarBackground: #303030;
$navbarBackgroundHighlight: #6771DB;
$navbarBrandColor: #FFCC66;
$navbarLinkColor: #D9E0FF;

@import "bootstrap";

// Include responsive Bootstrap styles
// @import "bootstrap-responsive";
